{% extends 'layout.html.twig' %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block title %}Détails du produit {{ product.name }}{% endblock %}

{% block body %}

<div>
    <h1>Détails du produit {{ product.name }}</h1>
    <img src="{{ asset(product.image) }}" alt=""/>
    <h2>Description</h2>
    <p>{{ product.description }}</p>
    <p>Crée le {{ product.creationDate | date('d/m/Y') }}</p>
    {% if is_granted('CAN_BORROW', product) %}
        <a class="btn btn-primary" href="{{ path('borrowing', { id: product.id }) }}">Emprunter ce produit</a>
    {% else %}
        <button disabled class="btn btn-primary">Produit indisponible</button>
    {% endif %}
    <a href="{{ path('home') }}">Revenir à la page d'accueil</a>
</div>

{% endblock %}
