{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }} {# réinclut le contenu du parent #}
    <link rel="stylesheet" href="{{ asset("css/selectize.css") }}"/>
{% endblock %}

{% block title %}
    Ajout d'un produit
{% endblock %}

{% block body %}
    <h1>Ajoutez votre produit</h1>

    {{ form(product_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sifter/0.5.3/sifter.min.js"></script>
    <script src="{{ asset('js/selectize.js') }}"></script>
    <script>
        $(function(){
            // PS4, Xbox -> ps4, xbox
            $('#product_tags').selectize({
                delimiter: ',',
                valueField: 'name',
                labelField: 'name',
                searchField: 'slug',
                create: true,
                persist: true,
                load: function(query, callback) {
                    // query contient ce qui est saisi par l'utilisateur
                    if(query.length < 2) {
                        return ;
                    }
                    $.getJSON("{{ path('search_tag') }}?search="+encodeURIComponent(query), function(data){
                        callback(data);
                    });
                }
            })
        });
    </script>
{% endblock %}
