<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MoiJV{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <a href="{{ path('home') }}">Accueil</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('myproducts') }}">Mes produits</a>
                <a href="{{ path('add_product') }}">Ajouter un produit</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('signup') }}">S'inscrire</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_dashboard') }}">Administration</a>
            {% endif %}

        {% endblock %}
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script>
                $('input[type="file"]').change(function(e){
                    var fileName = e.target.files[0].name;
                    $(this).next('.custom-file-label').html(fileName);
                });
            </script>
        {% endblock %}
    </body>
</html>
