{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Inscription</h1>
{#
    {{ form_start(signup_form) }}
    {{ form_widget(signup_form.username, { attr : { class: 'maclass' } }) }}
    {{ form_widget(signup_form.password.first) }}
    {{ form_widget(signup_form.password.second) }}
    {{ form_widget(signup_form.email) }}
    {{ form_end(signup_form) }}
#}
    {{ form(signup_form) }}
</div>
{% endblock %}
